# This file specifies the how to access local postgres databases used for
# building and running and InterMine.bio warehouse.  Also some configuration
# of InterMine behaviour.

#######################
# database properties #
#######################

# if true will log details about execution time of every query
os.production.verboseQueryLog=true

# Access to the postgres database to build into and access from the webapp
db.production.datasource.serverName=localhost
db.production.datasource.databaseName=mousemine
db.production.datasource.user=@postgres.login.user@
db.production.datasource.password=@postgres.login.password@
db.production.datasource.encoding=UTF8

# Temporary database used during the build process, this is re-built
# as sources are loaded and can be discarded once the warehouse build is complete
# It uses the InterMine 'items' metadata format to describe objects.

# common target items database
db.common-tgt-items.datasource.serverName=localhost
db.common-tgt-items.datasource.databaseName=items-mousemine
db.common-tgt-items.datasource.user=@postgres.login.user@
db.common-tgt-items.datasource.password=@postgres.login.password@
db.common-tgt-items.datasource.encoding=UTF8

# userprofile database - used by the webapp to store logins, query history,
# saved bags, templates and tags.
db.userprofile-production.datasource.serverName=localhost
db.userprofile-production.datasource.databaseName=userprofile-mousemine
db.userprofile-production.datasource.user=@postgres.login.user@
db.userprofile-production.datasource.password=@postgres.login.password@
db.userprofile-production.datasource.encoding=UTF8

#####################
# webapp properties #
#####################

build.compiler=modern

# Web application deployment properties

# location of tomcat server and path of webapp - e.g. access http://localhost:8080/malariamine
webapp.deploy.url=http://localhost:8080/
webapp.path=mousemine

# tomcat username and password needed to deploy webapp
webapp.manager=@tomcat.login.user@
webapp.password=@tomcat.login.password@

# 'Home' link
webapp.baseurl=http://localhost:8080/mousemine

#where to log errors to
webapp.logdir=/etc/tomcat6/logs/mousemine.out

# account name for superuser (who can edit appearance and publish templates)
superuser.account=@superuser.login.user@
superuser.initialPassword=@superuser.login.password@

# run with no associated web site
project.standalone=true

# details for sending login e-mails
mail.host=localhost
mail.from=@email.system.address@
mail.subject=Welcome to MouseMine
mail.text=You have successfully created an account on MouseMine. Congratulations!

# text that appears in the header and elsewhere
project.title=MouseMine
project.subTitle=Integrated mouse data from MGI. 
project.releaseVersion=0.01

# various URLs use this as the prefix
project.sitePrefix=http://localhost:8080/mousemine
project.helpLocation=http://www.informatics.jax.org/mgihome/homepages/help.shtml

# recipient of feedback form located on bottom of every page
feedback.destination=@email.feedback.address@

# The paths that optional webservice servlets are configured to
resource.path.query.gff3=/query/results/gff3
resource.path.query.fasta=/query/results/fasta

intermineHome=@intermineHome@

gbrowse.prefix=http://gbrowse.informatics.jax.org/cgi-bin/gbrowse
gbrowse_image.prefix=http://gbrowse.informatics.jax.org/cgi-bin/gbrowse_img
gbrowse.database.source=mouse_current
